img{
 max-width: 100%;   
}
body h1,h2,h3,h4,h5,h6.span,p{
	font-family: 'Poppins', sans-serif; 
}
#gredient{
	background-image: linear-gradient(to right, #108bd2 , #2e39a6);
	transition: all 1s ease-in-out;
}
#gredient:hover{
	background-image: linear-gradient(to right,#2e39a6, #108bd2);
	transition: all 1s ease-in-out;
}
#carsol-btn {
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 50%;
	opacity: 1;
	position: relative;
	color: #fff;
	left: -11%;
}
.header-top{
		padding: 13px 0 0px 0;	
		background-image: linear-gradient(to right, #108bd2 , #2e39a6);
}
.header-top a i {
	color: #fff;
	display: inline-block;
	margin-right: 6px;
}
.header-top p{
	display: inline-block;
	color: #fff;
}
.hder-lft {
	position: relative;
	width: 180px;
}
.hder-lft::after {
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	right: -30px;
	top: 5px;
	background: #fff;
}
.location-footer{
	position: relative;
}
.location-footer::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 20px;
	background: #fff;
	top: 14%;
	right: 26%;
}
.header-menu {
	padding: 10px 0;
	background: #fff;
}
.menu-list {
	line-height: 57px;
}
.menu-list li{
    padding: 10px 20px !important;
	position: relative;
}
.menu-list li a {
	color: #111;
	font-weight: 700;
	font-size: 17px;
	text-decoration: none;
}
/* dropdown-menu */
.menu-list li ul {
	position: absolute;
	top: 113%;
	left: 0;
	width: 178px;
	background: #fff;
	z-index: 1;
	margin: 0;
	padding: 0;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
	line-height: 20px;
}
.menu-list li i{
	font-size: 12px;
}
.menu-list li ul li{
	display: block;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.menu-list li ul:hover a{
	text-decoration: none;
}
.menu-list li ul li ul {
	position: absolute;
	top: 100%;
	width: 250px;
	background: #fff; 
	z-index: 1;
	left: 100%;
	color: #111 !important;
}
.menu-list li ul li ul li a{
	color: #111;
}
.menu-list li ul li:hover{
	background: #2454b4;
}
.menu-list li ul li:hover a{
	color: #fff;
}
/* subDropdown menu */
.menu-list li:hover > ul{
	opacity: 1;
	visibility: visible;
}
.schers-icon a {
	font-size: 25px;
	line-height: 93px;
	position: relative;
	margin-top: 4%;
	display: inline-block;
	text-decoration: none;
}
.schers-icon span {
	width: 25px;
	height: 3px;
	background-color: #1480cc;
	display: inline-block;
	margin-left: 19px;
	margin-bottom: 14%;
	position: relative;
}
.schers-icon span::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 3px;
	background: #1480cc;
	top: 171%;
	right: 0%;
	transition: .3s;
}
.schers-icon span:hover::before{
	width: 25px;
}
.schers-icon span:hover::after{
	width: 25px;
}
.schers-icon span::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background: #1480cc;
	top: -140%;
	right: 0%;
	transition: .3s;
}
/* slider-section */

.carsol-hover {
	position: relative;
}
.carsol-hover::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(42, 59, 117, 0.3);
}
.hero-section{
	position: relative;
}
.hero-contant {
	position: absolute;
	top: 19%;
	left: 10%;
	color: #fff;
	width: 46%;
}
.hero-section h2 {
	font-size: 60px;
	font-weight: 900;
}
.hero-contant p {
	font-size: 22px;
	width: 80%;
	margin-top: 40px;
}
#hero-btn {
	background-image: linear-gradient(to right, #108bd2 , #2e39a6);
	padding: 16px 32px;
	margin-top: 40px;
	display: inline-block;
	border-radius: 10px;
	color: #fff;
}
#hero-btn:hover{
	background-image: linear-gradient(to right,#2e39a6, #108bd2);
}
#hero-btn a{
	color: #fff; 
}
#hero-btn a:hover{
	text-decoration: none !important;
}
.carousel-item.carsol-hover.hero-section.active{
	height: 700px;
}
/* desing-section-start */
.desing-section {
	background-image: url("https://i.ibb.co/FYBQLf5/ia-100000064.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 75px 0;
	background-color: #f7f8fc;
}
.desing-card {
	border-radius: 10px 10px 10px 10px;
	margin: 24px 0;
	background: #fff;
}
.desing-card img{
	border-radius: 10px 10px 0 0;
	transition: .4s;
}
.desing-img{
	position: relative;
	overflow: hidden;
}
.desing-card .desing-img img{
		max-width: 100%;
		transition: .4s;
}
.desing-card:hover .desing-img img{
	transform: scale(1.2) rotate(5deg);
}
.desing-text{
	padding: 0 20px;
}
.desing-text h2 {
	padding: 20px 0;
	font-weight: 600;
}
.desing-text p{
	font-size: 20px;
}
.desing-btn {
	display: inline-block;
	position: relative;
	top: 23px;
	border-radius: 25px;
	position: relative;
	width: 87px;
	height: 43px;
	line-height: 41px;
	transition: .2s;
}
.desing-card:hover .desing-btn{
	width: 110px;
}
.desing-btn i{
	color: #fff;
	font-size: 20px;
}
.desing-btn::before {
	content: "";
	position: absolute;
	width: 0px;
	height: 2px;
	left: 100%;
	top: 50%;
	transition: .4s;
	background: #2a43ab;
}
.desing-btn::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 2px;
	right: 100%;
	top: 50%;
	transition: .4s;
	background: #2a43ab;
}
.desing-card:hover .desing-btn::after{
	color: rgb(148, 11, 11);
	height: 2px;
	width: 100px;
}
.desing-card:hover .desing-btn::before{
	color: rgb(218, 19, 19);
	height: 2px;
	width: 100px;
}
.desing-btn a{
	color: #fff;
}
.desing-btn a:hover{
	text-decoration: none;
}
/* experience-section */
.experience-section{
	padding: 80px 0;
}
.experience-contant{}
.experience-contant h1 {
	font-weight: 400;
	padding-top: 40px;
	width: 72%;
	font-size: 38px;
}
.experience-contant h1 span{
	font-weight: 800;
}
.experience-contant h5 {
	width: 72px;
	height: 10px;
	background-image: linear-gradient(#2e39a6, #108bd2);
	position: relative;
}
.experience-contant h5::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 50%;
	height: 2px;
	background-color: #fff;
}
.experience-contant h6 {
	color: #0c59db;
	font-size: 19px;
	font-weight: 600;
}
.experience-contant p {
	font-size: 20px;
	padding: 30px 0;
}
.experience-contant .experience-img-part{
	width: 100px;
}
.experience-contant .ex-btn {
	display: inline-block;
	margin-top: 50px;
	padding: 14px 22px;
	border-radius: 5px;
	color: #fff;
}
/* crd-experienc */
.crd-experienc {
	margin-top: 100px;
	box-shadow: 1px 1px 1px 4px #f5f5fa;
	padding: 30px;
	background: #edf0f9;
	position: relative;
}

/* .crd-experienc::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 5px;
	width: 100%;
	height: 100%;
	background: rgb(180, 176, 176, .5);
	transition: 1s;
} */
.crd-experienc h1 {
	font-weight: 800;
	font-size: 45px;
	display: inline-block;
	text-align: left !important;
}
.crd-experienc span {
	font-size: 44px;
	position: absolute;
	top: 14%;
	left: 74%;
	transition: .4s;
	color: blue;
}
.crd-experienc:hover span{
	margin-top: 6%;
}
.crd-experienc .others{

}
.crd-experienc p {
	font-size: 20px;
	color: #828894;
	font-weight: 600;
}
/* services-part-section */
.service-section{
	background-image: url("https://i.ibb.co/T4YCFS9/ia-100000071.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
	background-position: center center;
	background-color: #f7f8fc;

}
.service-section{
	position: relative;
}
.service-part::before {
	content: "";
	position: absolute;
	top: 5%;
	left: -1%;
	width: 7px;
	height: 66px;
	background: #0c59db;
}
.service-part h1 {
	font-weight: 700;
	font-size: 42px;
}
.service-part p {
	color: #0c59db;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
}
.paragraph p {
	font-size: 16px;
	font-weight: 400;
}
.paregreph p{}
.service-section .online-items{
	background: red !important;
}
.online-part {
	background: #ffff;
	box-shadow: 1px 1px 10px 10px #ddd;
	padding: 16px;
	margin-bottom: 40px;
}
.online-part:hover{
			background-image: url("https://i.ibb.co/LNjyTvj/ia-100000068.jpg");
			color: #fff;
}
.online-part:hover span{
	color: #fff;
}
.online-part:hover p{
	color: #fff;
}
.online-part span{
	font-size: 55px;
	color: blue;
}
.online-part h2 {
	font-size: 20px;
	padding: 10px 0;
	font-weight: 700;
}
.online-part p {
	color: black;
	font-size: 16px;
}
/* met-section */
.met-section{
	background-image: url(https://i.ibb.co/Y3YRf80/ia-100000068.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0 200px 0;
	background-position: top center;
	color: #fff;
	position: relative;
}
.met-section::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(11, 17, 77, .3);
}
.tem-part p{
		font-size: 20px;
		font-weight: 600;
		position: relative;
}
.tem-part p::before {
	content: "";
	position: absolute;
	top: 46%;
	left: 39%;
	width: 50px;
	height: 2px;
	background: #fff;
}
.tem-part p::after{
	content: "";
	position: absolute;
	top: 46%;
	right: 39%;
	width: 50px;
	height: 2px;
	background: #fff;
}
.tem-part h1{
		width: 60%;
		margin: auto;
		font-weight: 800;
		font-size: 48px;
}
/* engineer-section */
.engineer-section{
	background-image: url("https://i.ibb.co/pvt4hN4/ia-100000067.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 90px 0 200px 0;

}
.engineer-part {
	background: #f6f6f6;
	margin-top: -234px;
	border-radius: 10px;
	margin-bottom: 50px;
	padding-bottom: 30px;
	overflow: hidden;
	
}
.engineer-photo img {
	border-radius: 10px 10px 0 51px;
	transition: .5s;
}
.engineer-text{
	position: relative;
}
.engineer-text::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -22%;
	width: 100px;
	height: 100px;
	background-image: linear-gradient(#2e39a6, #108bd2);
	clip-path: polygon(0 56%, 0% 100%, 46% 100%);
	border-radius: 10px;
}
.engineer-text::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 45px;
	background-image: linear-gradient(#2e39a6, #108bd2);
	right: 0;
	bottom: -29px;
	border-radius: 0 0 10px 0;
	clip-path: inset(0 0 0 0);
}
.engineer-text h4 {
	padding: 15px 0;
	font-size: 25px;
	font-weight: 600;
	color: black;
}
.engineer-part:hover .engineer-text h4{
	color: #fff;
}
.engineer-text h6 {
	font-size: 22px;
	margin-top: -16px;
	color: #0074e8;
	font-weight: 600;
}
.engineer-text a {
	margin-right: 14px;
	font-size: 20px;
	margin-top: 20px;
	display: inline-block;
	color: #333333;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	transition: .4s;
	text-decoration: none;
}
#proper-pog{
	background-image: linear-gradient(to right,#2e39a6, #108bd2);
}
.engineer-part{
	transition-delay: 1s;
}
.engineer-part:hover .engineer-photo img{
	margin-left: 10px;
}
.engineer-part:hover .engineer-text::after{
	opacity: 0;
}
.engineer-part:hover .engineer-text::before{
	opacity: 0;
}
.engineer-poggress h5 {
	color: #0c59db;
	position: relative;
	font-size: 20px;
	font-weight: 600;
	margin-left: 59px;
}
.engineer-poggress h5::before {
	content: "";
	position: absolute;
	left: -12%;
	top: 14px;
	width: 52px;
	height: 2px;
	background: #0c59db;
}
.engineer-poggress h1 {
	width: 84%;
	font-weight: 400;
	padding: 20px 0;
}
.engineer-poggress h1 span{
	font-weight: 800;
}
.engineer-poggress p {
	color: #575757;
	font-size: 15px;
	padding-bottom: 30px;
}
.mytow {
	display: flex;
	justify-content: space-between;
	margin-bottom: -12px;
	margin-top: 14px;
	font-weight: 500;
}
.moeny {
	font-size: 19px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: 600;
}
.mythree{
	position: relative;
}
.mythree::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 20px;
	top: 0;
	right: 15%;
	background: #fff;
}
.mypage::after {
	right: 4%;
}
.myhome::after {
	right: 10%;
}
.mycity::after {
	right: 12%;
}
.engineer-part:hover{
	background-image: linear-gradient(to right,#2e39a6, #108bd2);
	color: #fff;
}
.engineer-part:hover a{
	color: #fff;
}
.engineer-part:hover h6{
	color: #fff;
}
/* contact-section-start */
.contact-section{
	background-image: url(https://i.ibb.co/Y3YRf80/ia-100000068.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	color: #fff;
	position: relative;
}
.contact-section::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(34, 46, 187, .3);
}
.amar-photo {
	position: relative;
	height: 600px;
}
.amar-photo img {
	width: 100%;
	height: 100%;
}
.play-btn {
	width: 84px;
	height: 84px;
	display: inline-block;
	background: #1876c7;
	line-height: 56px;
	color: #fff;
	font-size: 60px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	bottom: 46%;
	left: 44%;
}
.play-btn::before {
	content: "";
	width: 90px;
	height: 90px;
	background: #1876c7;
	line-height: 90px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	animation: Reply-btn 1.6s ease-out infinite;
}
.play-btn i {
	font-size: 84px;
	margin-right: 1px;
}
@keyframes Reply-btn{
	0%,30%{
		transform: scale(0);
		opacity: 1;
	}
	50%{
		transform: scale(1.5);
		opacity: .8;
	}
	100%{
		transform: scale(2);
		opacity: 0;
	}

}
.contact-form {
	position: relative;
	top: -21%;
	left: -36%;
	width: 500px;
	box-shadow: 1px 1px 10px 10px rgba(24, 22, 22, .1);
	position: relative;
}
.contact-form::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	background-image: linear-gradient(to right,#2e39a6, #108bd2);
	clip-path: polygon(76% 0, 100% 0, 77% 25%, 64% 25%, 26% 26%, 25% 53%, 25% 81%, 0 100%, 0% 35%, 0 0);
}
.contact-form::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	background-image: linear-gradient(to right,#2e39a6, #108bd2);
	clip-path: polygon(76% 0, 100% 0, 100% 57%, 100% 100%, 99% 100%, 79% 81%, 76% 56%, 76% 26%, 19% 24%, 0 0);
}
.contact-form h2 {
	font-weight: 700;
	font-size: 30px;
}
.contact-form p {
	font-size: 18px;
	color: #575757;
}
.c-form-items {
	height: 60px;
	width: 350px;
	padding: 0 20px;
	border-radius: 5px;
	border: 1px solid #575757;
}
/* project-section-start */
.project-section{
	padding: 100px 0;
	position: relative;
}
.project-section::before {
	content: "";
	position: absolute;
	top: 14%;
	left: 7%;
	width: 7px;
	height: 68px;
	background: #0c59db;
}
.project-section h1 {
	font-weight: 700;
	font-size: 42px;
}
.project-section span {
	font-size: 19px;
	color: #0c59db;
	font-weight: 600;
}
.project-img {
	margin-right: -26px;
	position: relative;
}
.project-img-text {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	margin: auto;
	background: rgba(10, 8, 8, 0.3);
	line-height: 40px;
	padding: 50px 20px;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: all .4s ease-in-out;
}
.project-items-img{
	width: -1200px;
}
.project-img h2{
	font-weight: 700;
	text-align: center;
}
.project-img p{
	font-size: 20px;
	text-align: center;
}
.project-img:hover .project-img-text{
	opacity: 1;
	visibility: visible;
}
/* update-section */
.update-section{
	background: #f7f8fc;
}
.teach-contant h3 {
	font-size: 22px;
	font-weight: 700;
}
.admin-part {
	background: #f5f6fc;
	text-align: center;
	position: relative;
}
.admin-part::before{
	position: absolute;
	content: "";
	width: 3px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #0c59db;
}
.admin-part span {
	display: inline-block;
	line-height: 59px;
}
.admin-part p {
	display: inline-block;
	margin-left: 4px;
	margin-right: 11px;
}
.teach-photopart i{
	font-weight: 700; 
}
.teach-photo{
	position: relative;
	overflow: hidden;
}
/* .teach-photo::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(42, 41, 41, .4);
	opacity: 1;
	transition: 1s;
}
.teach-photo:hover::before{
	visibility: visible;
	opacity: 1;
} */
/* .teach-photo::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(27, 24, 24);
	opacity: 0;
}  */
.tech-business {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #0c59db;
	display: inline-block;
	color: #fff;
	width: 75px;
	height: 30px;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	transition: 1s;
}
.teach-photopart:hover .tech-business{
	left: 30px;
}
.teach-photo img{
	max-width: 100%;
	transition: transform 1s;
}
.teach-photopart:hover .teach-photo img{
	transform: scale(1.1);
}
/* testimonial-section */
.testimonial h1 {
	font-size: 35px;
	font-weight: 800;
}
.testimonial h6 {
	color: #2454b4;
	font-weight: 600;
	font-size: 19px;
	margin-bottom: 30px;
	position: relative;
}
.testmunial-items h2 {
	font-size: 25px;
	font-weight: 600;
}
.testmunial-items h5 {
	color: #c4c3c3;
	font-size: 19px;
	margin-bottom: 20px;
}
.testmunial-items p{
	font-style: italic;
}
.testimonial h6::before {
	content: "";
	position: absolute;
	width: 44px;
	height: 2px;
	background: #2454b4;
	top: 131%;
	left: 47%;
}
.testmonial-img img {
	border-radius: 50%;
	border: 4px solid #c1cad5;
	margin-bottom: 14px;
}
.carousel-control-prev {
	left: 50px;
	background: #0c59db;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 37px;
	margin-top: 20%;
}
.carousel-control-next {
	right: 50px;
	background: #0c59db;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 37px;
	margin-top: 20%;
}
.testmunial-items{
	background: #f8f8fa;
	border-radius: 5px;
	padding: 25px;
}
.carsol-star span i{
	color: #0c59db;
}
.dubble {
	font-size: 60px;
	position: absolute;
	top: 33px;
	right: 63px;
	color: #0c59db;
}
/* footer-top-section */
.footer-top{
			background-image: url("https://i.ibb.co/7XG5ChS/ia-100000072.png");	
			background-repeat: no-repeat;
			background-size: cover;
			padding: 80px 0;
			position: relative;
			background-attachment: fixed;
}
.footer-top::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #29303bed;
}
.footer-location p {
	color: #fff;
	margin-top: 22px;
	margin-bottom: 22px;
}
.footer-location a{
	text-decoration: none;
	background-color: transparent;
	display: block;
	color: #fff;
	margin-bottom: 10px;
}
.footer-location a:hover{
	
	color: #007bff;
}
.footer-useful h4{
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
}
.footer-useful ul{
	list-style: none;
	padding: 0;
}
.footer-useful ul li {
	line-height: 33px;
}
.footer-useful ul li a{
	color: #fff;
	text-decoration: none;
	transition: .7s;
}
.footer-useful ul li a:hover{ 
	letter-spacing: 2px;
	color: #007bff;
}
.footer-service h4{
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
}
.footer-service ul{
	list-style: none;
	padding: 0;
}
.footer-service ul li{
	line-height: 33px;
	
}
.footer-service ul li a{
	color: #fff;
	text-decoration: none;
	transition: .7s;
}
.footer-service ul li a:hover{
	letter-spacing: 2px;
	color: #007bff;
}
.footer-newslater{
	color: #fff;
}
.footer-newslater h4 {
	margin-bottom: 20px;
	font-size: 19px;
}
.footer-newslater p{}
.footer-newslater .newsform {
	padding: 13px;
	width: 300px;
	border-radius: 10px;
	border: none;
	margin-bottom: 15px;
}
.newslater-btn {
	width: 200px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}
.newslater-btn i{
	margin-right: 10px;
}
.footer-before{
	position: relative;
}
.footer-before::before {
	content: "";
	position: absolute;
	width: 60px;
	height: 5px;
	background-image: linear-gradient(to right,#108bd2,#2e39a6);
	top: 11%;
	border-radius: 20px;
}
.footer-before ul li i { 
	color: #fff;
	margin-right: 10px;
}